<%= render 'shared/navbar', title: "#{@categories.name}", back_link: false %>
<div class="categories-page">

  <% @categories.each do |category| %> 
    <%= link_to category_path(category) do %>
      <div class="category">

        <div class="icon-name">
          <%= content_tag :i, "", class: "fa #{category.icon}" %>
          <p><%= category.name %></p>
        </div>
          <p>$ <%= category.total_amount %></p>
      </div>
    <% end %>
  <% end %>

  <div class="add-btn">
      <%= link_to 'NEW CATEGORY', new_category_path %>
  </div>
</div>